
body {
    margin: 0;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Damion', cursive; */
    color: rgb(85, 85, 85);
    margin: 0;
    line-height: 1.5;

}


/* ------------------------------ COMMON PROPERTIES ------------------------------ */



h1 {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(130, 130, 130);
    margin: 0;
}


h5 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(130, 130, 130);
}

.header__wrap {
    width: 230px;
    height: 60px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__underline {
    width: 55px;
    height: 15px;
    border-bottom: solid 4px #02c6d8;
}

.about__content__text__wrap a {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(228, 110, 72);
    font-weight: bold;
    text-decoration: none;
}




/* ------------------------------ MENU SECTION ------------------------------ */


.menu__section {
    background-color: #00adbd;
    height: 700px;
}






/* ------------------------------ ABOUT SECTION ------------------------------ */


.about__section {
    height: 840px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.title__wrap {
    width: 1180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about__content {
    width: 1180px;
    display: flex;
    align-items: center;
}


.about__content__text__wrap {
    background-color: #f6f6f6;
    width: 715px;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0cm;
    padding: 0 15px;
}


.about__content__text__wrap p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(85, 85, 85);
}


.about__content__img {
    width: 470px;
    height: 460px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(./img/about__img.png);
    background-repeat: no-repeat;
}


/* ------------------------------ CONTACT SECTION ------------------------------ */


.contact__section {
    background-color: #9068be;
    height: 140px;
}






/* ------------------------------ ACTIVITY SECTION ------------------------------ */

.activity__section {
    background-color: #f6f6f6;
    height: 775px;
}






/* ------------------------------ FEEDBACK SECTION ------------------------------ */

.feedback__section {
    height: 730px;
}







/* ------------------------------ CAREER SECTION ------------------------------ */

.career__section {
    background-color: #376a6f;
    height: 550px;
}






/* ------------------------------ FOOTER SECTION ------------------------------ */
.footer__section {
    background-color: #011e22;
    height: 225px;
}